
<!-- <div class="container">
  <div cdkDropListGroup>
    <div class="example-container" style="border-style:outset; text-align: center; background-color:#3f51b5;">
      <h3 class="laneHeading">To Do</h3>
      <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container" style="border-style:outset; text-align: center; background-color:#3f51b5;">
      <h3 class="laneHeading">In Progress</h3>
      <div cdkDropList [cdkDropListData]="inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container" style="border-style:outset; text-align: center; background-color:#3f51b5;">
      <h3 class="laneHeading">Done</h3>
      <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
</div> -->

<div style="margin: 10px;">
  <div class="row">
  <h1 *ngIf="projectDetails" class="col-lg-9">{{projectDetails.name}} Tasks</h1>
  <a class="btn btn-lg btn-block btn-secondary col-lg-3" routerLink="/projectlist" style="color: white;"><span class="material-icons">
    reply
    </span> Back</a>
  </div>
</div>

<hr/>
<!-- <div  style="text-align: center; width: 100%;align-content: center;"> -->
<div class="row" *ngIf="projectTaskDetails">
  <div class="container col-md-4" style="text-align: center;">
    <h3 class="laneHeading" style="background-color:blueviolet;border: solid;border-width: 1px; border-radius: 15px;">To Do</h3>
    <hr style="background-color: #3f51b5;"/>
    <div style="background-color: white;" *ngFor="let item of projectTaskDetails">
      <a [routerLink]="['/taskdetails',item.taskId]">
        <div *ngIf="item.taskStatus==='todo'" style="border: solid;border-width: 1px; border-inline-start-color: red; border-inline-start-width: 8px;margin-bottom: 10px;border-radius: 5px;">
        <span style="font-size: larger;"> {{item.taskName}}</span>
    </div></a>
    </div>
  </div>
  <div class="container col-md-4" style="text-align: center;">
    <h3 class="laneHeading" style="background-color:blueviolet;border: solid;border-width: 1px; border-radius: 15px;">In Progress</h3>
    <hr style="background-color: #3f51b5;"/>
    <div style="background-color: white;" *ngFor="let item of projectTaskDetails">
      <a [routerLink]="['/taskdetails',item.taskId]">
      <div *ngIf="item.taskStatus==='inprogress'" style="border: solid;border-width: 1px; border-inline-start-color: blue; border-inline-start-width: 8px;margin-bottom: 10px;border-radius: 5px;">
        <span style="font-size: larger;text-align: start;"> {{item.taskName}}</span>
    </div></a>
    </div>
  </div>
  <div class="container col-md-4" style="text-align: center;">
    <h3 class="laneHeading" style="background-color:blueviolet;border: solid;border-width: 1px; border-radius: 15px;">Completed</h3>
    <hr style="background-color: #3f51b5;"/>
    <div style="background-color: white;" *ngFor="let item of projectTaskDetails">
      <a [routerLink]="['/taskdetails',item.taskId]">
      <div *ngIf="item.taskStatus==='completed'" style="border: solid;border-width: 1px; border-inline-start-color: green; border-inline-start-width: 8px;margin-bottom: 10px;border-radius: 5px;">
        <span style="font-size: larger;text-align: start;"> {{item.taskName}}</span>
    </div></a>
    </div>
  </div>
  <!-- <div class="container col-md-3" style="border: solid;text-align: center;background-color:#3f51b5;border-color: darkgray;">
    <h3 class="laneHeading">In Progress</h3>
    <hr style="background-color: white;"/>
    <div style="background-color: white;" *ngFor="let item of projectTaskDetails">
      <h4 *ngIf="item.taskStatus==='in progress'">{{item.taskName}}</h4>
    </div>
  </div>
  <div class="container col-md-3" style="border: solid;text-align: center;background-color:#3f51b5;border-color: darkgray;">
    <h3 class="laneHeading">Done</h3>
    <hr style="background-color: white;"/>
    <div style="background-color: white;" *ngFor="let item of projectTaskDetails">
      <h4 *ngIf="item.taskStatus==='completed'">{{item.taskName}}</h4>
    </div>
  </div> -->
</div>
<!-- </div> -->
<!-- <div>
  {{projectTaskDetails | json}}
</div> -->