<br />
<div class="container">
  <div cdkDropListGroup>
    <div class="example-container" style="border-style:outset; text-align: center; background-color:#3f51b5;">
      <h3 class="laneHeading">To Do</h3>
      <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container" style="border-style:outset; text-align: center; background-color:#3f51b5;">
      <h3 class="laneHeading">In Progress</h3>
      <div cdkDropList [cdkDropListData]="inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container" style="border-style:outset; text-align: center; background-color:#3f51b5;">
      <h3 class="laneHeading">Done</h3>
      <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
</div>