<div>
  <div>
      <br/>
      <h3><u>Tasksettings</u></h3>
      <br/>
  </div>

  <div class="row">
    <div class="col-md-5">
      <form [formGroup]="taskSettingsForm" >


          <div class="input-group form-group" style="display: none;">
          <div class="input-group-prepend">
              <span class="input-group-text">Task Id</span>
            </div>
          <input type="text" formControlName="id" class="form-control" placeholder="Task Id">
          </div>

          <div class="form-group">
            <select class="form-control" id="selectproject" required> 
                <option selected>Select Project</option>
                <option value="RWM">RWM</option>
                <option value="Bonus">Bonus</option>
                <option value="RegBI">RegBI</option>
                <option value="InvestCloud">InvestCloud</option>
            </select>
          </div>

          <div class="input-group form-group" >
            <div class="input-group-prepend">
                <span class="input-group-text">Sub Task Name</span>
            </div>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter Sub Task Name" required>
          </div>

          <div class="input-group form-group" >
            <div class="input-group-prepend">
                <span class="input-group-text">SME name</span>
            </div>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter SME name" required>
          </div>

          <div class="input-group form-group" >
            <div class="input-group-prepend">
                <span class="input-group-text">Owner Name</span>
            </div>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter Owner Name" required>
          </div>

          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required>Description</textarea>
          </div>

          <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Choose file to attach for more information....</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
          </div>

      </form>
    </div>

    <div class="col-md-5">
      <form [formGroup]="taskSettingsForm" >
        <div class="input-group form-group" >
          <div class="input-group-prepend">
              <span class="input-group-text">Task Name</span>
          </div>
          <input type="text" formControlName="name" class="form-control" placeholder="Enter Task Name" required>
        </div> 

        <div class="input-group form-group" >
          <div class="input-group-prepend">
              <span class="input-group-text">Task Eta</span>
          </div>
          <input type="datetime-local" formControlName="time" class="form-control" placeholder="Enter Task Eta" required>
        </div>

        <div class="input-group form-group" >
          <div class="input-group-prepend">
              <span class="input-group-text">Task Etc</span>
          </div>
          <input type="datetime-local" formControlName="time" class="form-control" placeholder="Enter Task Etc" required>
        </div>

        <div class="form-group" >
          <div class="input-group-prepend">
            <span class="input-group-text">Skills Required</span>
          </div>
         <select class="form-control" id="SkillsRequired" multiple required> 
           <option value="dotnet">dotnet</option>
           <option value="sql">sql</option>
           <option value="webservice">webservice</option>
           <option value="angular">angular</option>
           <option value="typescript">typescript</option>
           <option value="javascript">javascript</option>
         </select>
       </div>

      <div class="input-group form-group" >
        <div class="input-group-prepend">
            <span class="input-group-text">Resources required count</span>
        </div>
        <input type="number" formControlName="time" class="form-control" placeholder="Enter Resources required count" required>
      </div>


      </form>


    </div>
  </div>
  <div>
    <ag-grid-angular style="width: 100%; height: 550px;" class="ag-theme-alpine" 
        [columnDefs]="columnDefs" [rowHeight]="55">
    </ag-grid-angular>
</div> 
</div>