<div class="mainDiv">
    <!--Title-->
    <div class="title row">
        <h3 class="col-md-9">Release Settings</h3>
        <a class="btn btn-lg btn-secondary btn-block col-md-3" routerLink="/release"><span class="material-icons">
                reply
            </span> Back</a>
    </div>

    <!--agGrid for Projects included in release-->
    <div class="projectGrid" style="margin-top: 1.5rem;">
        <ag-grid-angular style="width: 100%; height: 250px;" class="ag-theme-alpine" [rowData]="rowData"
            [columnDefs]="columnDefs" [rowHeight]="50" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>

    <form [formGroup]="releaseDetailsForm">
        <!--Release Details and Documents-->
        <div class="releaseDetails" style="margin-top: 1.5rem;">

            <div class="row" style="margin-top: 1.5rem;">
                <div class="col-md-6">
                    <div class="input-group form-group" style="display: none;">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-titles">Release Id</span>
                          </div>
                        <input type="text" formControlName="releaseId" class="form-control" placeholder="Release Id">
                    </div>
                    <div class="input-group form-group" style="width: 100%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-titles">Release Name</span>
                        </div>
                        <input type="text" class="form-control" formControlName="name" style="text-align: center;"
                            placeholder="Release Name">
                        <!--formControlName="releaseDate"-->
                    </div>
                    <div class="input-group form-group" style="width: 100%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-titles">Release Date</span>
                        </div>
                        <input type="date" class="form-control" formControlName="releaseDate"
                            style="text-align: center;">
                        <!--formControlName="releaseDate"-->
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-titles">Status</span>
                        </div>
                        <select class="form-control" formControlName="status" id="status" style="text-align: center">
                            <option value="">Select Release Status</option>
                            <option value="new">New</option>
                            <option value="completed">Completed</option>
                            <option value="inprogress">In Progress</option>
                            <option value="onhold">On Hold</option>
                            <option value="partial">Partial Release</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div class="col-md-6">
                    <div class="input-group form-group" style="width: 100%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-titles">Release Description</span>
                        </div>
                        <!-- <input type="text" class="form-control" style="text-align: center;" placeholder="Release Description"> -->
                        <textarea rows="5" class="form-control" formControlName="details" style="text-align: center;"
                            placeholder="Release Description"></textarea>
                        <!--formControlName="releaseDate"-->
                    </div>
                </div>
            </div>
            <h4>Documents</h4>
            <div class="row" style="margin-top: 1.5rem;" *ngIf="progress > 0">
                <div class="col-md-12">
                <div class="input-group-text" *ngIf="progress > 0" style="margin-bottom: 15px;">
                    <span *ngIf="progress > 0">Upload Progress :</span>
                    <span class="upload" *ngIf="progress > 0">
                        {{progress}}%
                    </span>
                    <span class="upload" *ngIf="message">
                        {{message}}
                    </span>
                </div>
            </div>
            </div>
            <div class="row" style="margin-top: 1.5rem;" *ngIf="releaseDetails">
                <div class="col-md-6">
                    <div class="input-group form-group" style="width: 100%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-titles">Implementation Plan</span>
                        </div>
                        <span class="form-control no-file" *ngIf="releaseDetails.implementationPlan === null">No File Uploaded</span>
                        <span class="form-control file-available" *ngIf="releaseDetails.implementationPlan">{{releaseDetails.implementationPlan}}</span>
                        <input type="file" #implFile class="form-control" style="text-align: center;" (change)="uploadFile(implFile.files,'implplan')" style="display:none;">
                        <button class="btn btn-primary btn-colors" (click)="implFile.click()"><mat-icon>file_upload</mat-icon></button>
                        <button class="btn btn-primary btn-colors" [disabled]="releaseDetails.implementationPlan === null" (click)="downloadFile('implplan')"><mat-icon>file_download</mat-icon></button>
                    </div>
                    <div class="input-group form-group" style="width: 100%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-titles">Checklist</span>
                        </div>
                        <span class="form-control no-file" *ngIf="releaseDetails.checklist === null">No File Uploaded</span>
                        <span class="form-control file-available" *ngIf="releaseDetails.checklist">{{releaseDetails.checklist}}</span>
                        <input type="file" #chkList class="form-control" style="text-align: center;" (change)="uploadFile(chkList.files,'chklist')" style="display:none;">
                        <button class="btn btn-primary btn-colors" (click)="chkList.click()"><mat-icon>file_upload</mat-icon></button>
                        <button class="btn btn-primary btn-colors" [disabled]="releaseDetails.checklist === null" (click)="downloadFile('chklist')"><mat-icon>file_download</mat-icon></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group form-group" style="width: 100%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-titles">Validation Scripts</span>
                        </div>
                        <span class="form-control no-file" *ngIf="releaseDetails.validationTasks === null">No File Uploaded</span>
                        <span class="form-control file-available" *ngIf="releaseDetails.validationTasks">{{releaseDetails.validationTasks}}</span>
                        <input type="file" #vldTasks class="form-control" style="text-align: center;" (change)="uploadFile(vldTasks.files,'vldtask')" style="display:none;">
                        <button class="btn btn-primary btn-colors" (click)="vldTasks.click()"><mat-icon>file_upload</mat-icon></button>
                        <button class="btn btn-primary btn-colors" [disabled]="releaseDetails.validationTasks === null" (click)="downloadFile('vldtask')"><mat-icon>file_download</mat-icon></button>
                    </div>
                    <div class="input-group form-group" style="width: 100%;">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-titles">Change Tickets</span>
                        </div>
                        <span class="form-control no-file" *ngIf="releaseDetails.changeTicket === null">No File Uploaded</span>
                        <span class="form-control file-available" *ngIf="releaseDetails.changeTicket">{{releaseDetails.changeTicket}}</span>
                        <input type="file" #changeTkt class="form-control" style="text-align: center;" (change)="uploadFile(changeTkt.files,'changetkt')" style="display:none;">
                        <button class="btn btn-primary btn-colors" (click)="changeTkt.click()"><mat-icon>file_upload</mat-icon></button>
                        <button class="btn btn-primary btn-colors" [disabled]="releaseDetails.changeTicket === null" (click)="downloadFile('changetkt')"><mat-icon>file_download</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9" style="margin-bottom: 10px;">
            </div>
            <div class="col-lg-3 col-md-3" style="margin-bottom: 10px;">
                <button class="btn btn-block btn-lg btn-colors" type="submit" (click)="onSubmit()" style="margin-top: 30px;">Save Changes</button>
            </div>
        </div>
    </form>
</div>