<!-- <div>
    <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs">
    </ag-grid-angular>
</div> -->
<div>
    <h3>Projects</h3>
</div>
    <hr/>
    
    <!-- <div *ngFor="let item of projectList" class="card shadow my-5">
        <div class="card-body">
            <h3>{{item.name}}</h3>
            <p class="lead">{{item.description}}</p>
            <a [routerLink]="['/project',item.id]"
            class="btn btn-outline-success btn-lg" style="margin-right:25px;">Details</a>
            <span>  </span>
            <a [routerLink]="['/settings',item.id]"
            class="btn btn-outline-primary btn-lg">
            <span class="material-icons">settings</span></a>
        </div>
    </div> -->

    <table class="table sorttable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
            <th scope="col">Settings</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of projectList">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td><a [routerLink]="['/project',item.id]"
                class="btn btn-outline-success btn-lg" style="margin-right:25px;">Details</a></td>
            <td><a [routerLink]="['/settings',item.id]"
                class="btn btn-outline-primary btn-lg">
                <span class="material-icons">settings</span></a></td>
          </tr>
        </tbody>
      </table>