<mat-nav-list class="mat-typography">

    <mat-divider></mat-divider>
  
    <h2 matSubheader>Menu</h2>
    
    <a mat-list-item routerLinkActive='list-item-active' routerLink="/">My Dashboard</a>
    <a mat-list-item routerLinkActive='list-item-active' routerLink="/projectlist">Projects</a>
    <a mat-list-item routerLinkActive='list-item-active' routerLink="/task">Add Task</a>
    <!-- <a mat-list-item routerLinkActive='list-item-active' routerLink="/swimlanes">Swimlanes</a> -->
    <!-- <a mat-list-item routerLinkActive='list-item-active' (click)="openDialog()">Swimlanes</a> -->
    <!-- <a mat-list-item routerLinkActive='list-item-active' data-toggle="modal" data-target="#projectListModal">Swimlanes</a> -->
    <!-- <a mat-list-item routerLinkActive='list-item-active' routerLink="/reports">Reports</a> -->
    <a mat-list-item routerLinkActive='list-item-active' href="#">Reports</a>
    
    <mat-divider></mat-divider>
     
  
  </mat-nav-list>
 