<div>
    <div class="row">
        <div class="col-lg-9 col-md-9">
        <h3>Tasks</h3>
      </div>
      <div class="col-lg-3 col-md-3">
        <a class="btn btn-block btn-lg btn-secondary" routerLink="/"><span class="material-icons">
          reply
          </span> Back</a>
        </div>
        
    </div>
    <br/>
    
    <div class="row">
      <div class="col-lg-6 col-md-12" style="margin-bottom: 10px;">
        <form [formGroup]="taskReadonlyForm" (ngSubmit)="submitForm()">
  
  
            <div class="input-group form-group" style="display: none;">
            <div class="input-group-prepend">
                <span class="input-group-text input-title-stl">Task Id</span>
              </div>
            <input type="text" formControlName="taskId" class="form-control" placeholder="Task Id">
            </div>
  
            <div class="form-group">
              
                <input type="text" id="selectproject" formControlName="name" class="form-control" placeholder="project name" readonly>
              
            </div>
  
            <div class="input-group form-group" >
              <div class="input-group-prepend">
                  <span class="input-group-text input-title-stl">Sub Task Name</span>
              </div>
              <input type="text" formControlName="name" class="form-control" placeholder=" Sub Task Name" readonly>
            </div>
  
            <div class="input-group form-group" >
              <div class="input-group-prepend">
                  <span class="input-group-text input-title-stl">SME name</span>
              </div>
              <input type="text" formControlName="name" class="form-control" placeholder=" SME name" readonly>
            </div>
  
            <div class="input-group form-group" >
              <div class="input-group-prepend">
                  <span class="input-group-text input-title-stl">Owner Name</span>
              </div>
              <input type="text" formControlName="name" class="form-control" placeholder=" Owner Name" readonly>
            </div>
            <div class="form-group" >
              <div class="input-group-prepend">
                <span class="input-group-text input-title-stl">Add Milestone</span>
              </div>
             <select class="form-control" id="Milestone"  required readonly> 
               <option value="1">Milestone 1</option>
               <option value="2">Milestone 2</option>
               <option value="3">Milestone 3</option>
               <option value="4">Milestone 4</option>
               <option value="5">Milestone 5</option>
               
             </select>
           </div>
            <div class="form-group">
              <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3" placeholder="Description" required></textarea>
            </div>
  
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="validatedCustomFile" required>
              <label class="custom-file-label" for="validatedCustomFile">Choose file to attach for more info</label>
              <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>
            <!-- <button class="btn btn-block btn-lg btn-success" type="submit" style="margin-top: 30px;" disabled>Submit</button> -->
            <button class="btn btn-block btn-lg btn-colors" type="submit" [disabled]="taskReadonlyForm.invalid" style="margin-top: 30px;">{{submitbtnTitile}}</button>
  
        </form>
      </div>
      <br/>
      <div class="col-lg-6 col-md-12" style="margin-top: 10px;">
        <form [formGroup]="taskReadonlyForm" >
          <div class="input-group form-group" >
            <div class="input-group-prepend">
                <span class="input-group-text input-title-stl">Task Name</span>
            </div>
            <input type="text" formControlName="taskName" class="form-control" placeholder="Enter Task Name" required>
          </div> 
  
          <div class="input-group form-group" >
            <div class="input-group-prepend">
                <span class="input-group-text input-title-stl">Task Eta</span>
            </div>
            <input type="datetime-local" formControlName="time" class="form-control" placeholder="Enter Task Eta" required>
          </div>
  
          <div class="input-group form-group" >
            <div class="input-group-prepend">
                <span class="input-group-text input-title-stl">Task Etc</span>
            </div>
            <input type="datetime-local" formControlName="time" class="form-control" placeholder="Enter Task Etc" required>
          </div>
          
          <div class="form-group">
            <div class="input-group-prepend">
              <span class="input-group-text input-title-stl">Task weightage</span>
            </div>
            <select class="form-control" id="taskWeight" formControlName="Task weightage" required readonly>
                
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
          <div class="form-group" >
            <div class="input-group-prepend">
              <span class="input-group-text input-title-stl">Skills Required</span>
            </div>
           <select class="form-control" id="SkillsRequired" multiple required> 
             <option value="dotnet">dotnet</option>
             <option value="sql">sql</option>
             <option value="webservice">webservice</option>
             <option value="angular">angular</option>
             <option value="typescript">typescript</option>
             <option value="javascript">javascript</option>
           </select>
         </div>
  
        <div class="input-group form-group" >
          <div class="input-group-prepend">
              <span class="input-group-text input-title-stl">Status</span>
          </div>
          <select class="form-control" id="status" required> 
            <option value="todo">To Do</option>
            <option value="inprogress">In Progress</option>
            <option value="completed">Completed</option>
          </select>
        </div>
        
  
        </form>
  
  
      </div>
      <br/>
    </div>
    <br/>
  </div>
