body{
    font-size:1em;
     height: 100%;
  }
    
  .circles{
    height: 0.938em;
    width: 0.938em;
    border: 0.188em solid #000;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active{
      background-color:#0ada2c;
  }
  
  .circle-desc-active{
  font-weight: bold;
  }
  
  .bar{
    width: 16%;
    height: 0.063em;
    margin-bottom:0.469em;
    border: 0.031em solid #000;
    color:#000;
    background-color:#000;
    display: inline-block;
    text-align:center;
    margin:"0 auto";
  }
  
  .container{
    min-width:320px;
    margin: "0px auto";
    text-align: center;
  }
  
  .circle-desc{
   position: absolute;
   margin-top: 1em;
   font-size: 1.125em;
   width: auto;
   max-width:9.375em;
   margin-left:-1em;
  }
  
  .btn-colors{
    background-color: blueviolet;color: white;
  }

  @media only screen and (max-width: 320px){
     body {
       font-size:20%
    }
  } 
  
  /*extra small devices*/
  @media only screen and (max-width: 600px){
     body {
       font-size:40%
    }
  } 
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
     body {
       font-size:60%
    }
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body {
       font-size:80%
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body {
       font-size:100%
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
     body {
       font-size:120%
    }
  }

  .no-file{
    border-left-color: red;
    border-left-width: 7px;
    height: min-content;
    min-height: 45px;
    overflow: hidden;
    }
    
    .file-available{
    border-left-color: green;
    border-left-width: 7px;
    height: min-content; 
    min-height: 45px;
    overflow: hidden;
    }
    
    .upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
    }

    .input-titles{
      width: 170px;
    }





    .horiscroll{
      width: 100%;
      overflow-x: auto;
      //overflow-y: hidden;
      white-space: nowrap;
    }



    @media (max-width: 576px) {
      .multi-steps-wrap {
        margin: 0;
      }
    }
    .multi-steps-wrap .multi-steps {
      display: table;
      table-layout: auto;
      width: 100%;
    }
    .multi-steps-wrap .multi-steps > li {
      counter-increment: stepNum;
      text-align: center;
      display: table-cell;
      position: relative;
      //color: #3cba9f;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 19px;
      z-index: 1;
    }
    .negative {
      border-color: red;
    }
    .multi-steps-wrap .multi-steps > li:before {
      content: "-";
      display: block;
      margin: 0 auto 4px;
      background-color: #fff;
      width: 46px;
      height: 46px;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      border-width: 2px;
      border-style: solid;
      border-color: #3cba9f;
      border-radius: 50%;
    }
    .multi-steps-wrap .multi-steps > li:after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: #3cba9f;
      position: absolute;
      top: 20px;
      left: 50%;
      z-index: -1;
    }
    .multi-steps-wrap .multi-steps > li:last-child:after {
      display: none;
    }
    .multi-steps-wrap .multi-steps > li:last-child.is-active:before {
      content: "o";
    }
    .multi-steps-wrap .multi-steps > li:first-child.is-active:before {
      content: "o";
    }
    .multi-steps-wrap .multi-steps > li.is-active:before {
      background-color: #fff;
      border-color: #3cba9f;
    }
    .multi-steps-wrap .multi-steps > li.negative:before {
      content: "✓";
      background-color: green;
      border-color: green;
    
      color: white;
    }
    // .multi-steps-wrap .multi-steps > li.is-active ~ li {
    //   color: #808080;
    // }
    // .multi-steps-wrap .multi-steps > li.is-active ~ li:before {
    //   background-color: #eee;
    //   border-color: #fff;
    // }

    .multi-steps-wrap .multi-steps > li.inProgress:before {
      content: "o";
      background-color: blue;
      border-color: blue;
    
      color: white;
    }

    .multi-steps-wrap .multi-steps > li.inDanger:before {
      content: "!";
      background-color: red;
      border-color: red;
    
      color: white;
    }

    .mileDate{
      font-size: 14px; 
      white-space: normal;
      float: left;
      width: 100%;
      height: auto;
      word-wrap: break-word;
    }