.input-titles{
    width: 170px;
  }
  .btn-colors{
    background-color: blueviolet;color: white;
  }

  .has-error span,.has-error input, .has-error select, .has-error textarea{
    color: red;
    border-color: red;
  }