<div class="mainDiv">
    <!--Title-->
    <div class="title row">
        <h3 class="col-md-9">Create New Release</h3>
        <a class="btn btn-lg btn-secondary btn-block col-md-3" routerLink="/release"><span class="material-icons">
                reply
            </span> Back</a>
    </div>

    <!--Release Details-->
    <form [formGroup]="releaseDetailsForm" (ngSubmit)="onSubmit()">
    <div class="releaseDetails" style="margin-top: 1.5rem;">
        <div class="row" style="margin-top: 1.5rem;">
        <div class="col-md-6">
        <div class="input-group form-group" style="width: 100%;"
        [ngClass]="{'has-error': releaseDetailsForm.get('name').errors && (releaseDetailsForm.get('name').touched || releaseDetailsForm.get('name').dirty)}">
            <div class="input-group-prepend">
                <span class="input-group-text input-titles">Release Name</span>
            </div>
            <input type="text" class="form-control" formControlName="name" style="text-align: center;" placeholder="Release Name" required>
            <!--formControlName="releaseDate"-->
        </div>
        <div class="input-group form-group" style="width: 100%;"
        [ngClass]="{'has-error': releaseDetailsForm.get('releaseDate').errors && (releaseDetailsForm.get('releaseDate').touched || releaseDetailsForm.get('releaseDate').dirty)}">
            <div class="input-group-prepend">
                <span class="input-group-text input-titles">Release Date</span>
            </div>
            <input type="date" class="form-control" formControlName="releaseDate" style="text-align: center;" required>
            <!--formControlName="releaseDate"-->
        </div>
        <div class="input-group form-group" 
        [ngClass]="{'has-error': releaseDetailsForm.get('status').errors && (releaseDetailsForm.get('status').touched || releaseDetailsForm.get('status').dirty)}">
            <div class="input-group-prepend">
                <span class="input-group-text input-titles">Status</span>
            </div>
            <select class="form-control" formControlName="status" id="status" style="text-align: center" required>
                <option value="">Select Release Status</option>
                <option value="new">New</option>
                <option value="completed">Completed</option>
                <option value="inprogress">In Progress</option>
                <option value="onhold">On Hold</option>
                <option value="partial">Partial Release</option>
            </select>
        </div>
        </div>
        <hr />
            <div class="col-md-6">
                <div class="input-group form-group" style="width: 100%;"
                [ngClass]="{'has-error': releaseDetailsForm.get('details').errors && (releaseDetailsForm.get('details').touched || releaseDetailsForm.get('details').dirty)}">
                    <div class="input-group-prepend">
                        <span class="input-group-text input-titles">Release Description</span>
                    </div>
                    <!-- <input type="text" class="form-control" style="text-align: center;" placeholder="Release Description"> -->
                    <textarea rows="5" class="form-control" formControlName="details" style="text-align: center;" placeholder="Release Description" required></textarea>
                    <!--formControlName="releaseDate"-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6" style="margin-bottom: 10px;">
        </div>
        <div class="col-lg-6 col-md-6" style="margin-bottom: 10px;">
            <button class="btn btn-block btn-lg btn-colors" type="submit" style="margin-top: 30px;">Add</button>
        </div>
    </div>
    </form>
</div>